a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

/* main_styles */

.change-lang {
  color: #595959;
  background-color: transparent;
  border: 0;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
}

input[type="range"] {
  padding: 10px 0;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  background-color: transparent;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
}

.maincontent {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  width: 830px;
  padding-top: 105px;
  padding-bottom: 105px;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
}

/* about_styles */

.about {
  margin-bottom: 40px;
}

.about__position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about__name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* project_styles */

.projects {
  margin-bottom: 50px;
}

.projects__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects__list {
  padding: 0;
  margin-left: 15px;
}

.projects__item,
.project__bracket {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.projects__text,
.project__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project__link {
  margin-left: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.project__link:hover {
  color: #fb6d3a;
}

/* work_styles */

.work__position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work__time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work__list {
  padding: 0;
  margin-left: 15px;
}

.worklist__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

/* education_styles */

.education {
  margin-top: 40px;
}

.education ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
  width: 370px;
  padding-top: 40px;
  background-color: #1e2939;
}

.sidebar__title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contact__type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #575f6b;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.contact__link:hover {
  color: #fb6d3a;
}

.skills__list {
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.skills__item {
  color: #fb6d3a;
}

.skills__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.scroll-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: 0.6;
  color: black;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 49px 41px -25px rgba(0, 0, 0, 0.51);
  z-index: 9;
}

.scroll-up-btn--remove {
  display: none;
}

.scroll-up-btn:hover,
.scroll-up-btn:focus {
  opacity: 1;
  scale: 1.25;
}

.scroll-up-btn__icon {
  fill: #575f6b;
  rotate: 270deg;
}
