body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

/* main_styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
}

.maincontent {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about_styles */

.About {
  margin-bottom: 40px;
}

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.PS {
}

/* project_styles */

.Projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects_list {
  padding: 0;
  margin-left: 15px;
}

.projects_item,
.project_bracket {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects_text,
.project_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_link {
  margin-left: 10px;
}

/* work_styles */

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work_time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 15px;
}

.worklist_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

/* education_styles */

.Education {
  margin-top: 40px;
}

.university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
  width: 370px;
  padding-top: 40px;
  background-color: #1e2939;
}

.sidebar_title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.Tech_Skills,
.Soft_Skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #575f6b;
}

.techskills_list {
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.techskills_item {
  color: #fb6d3a;
}

.techskills_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.softskills_list {
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.softskill_item {
  color: #fb6d3a;
}

.softskill_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
